<footer>
    <div class="d-flex container">
        <div class="footer-title">
            <p><b>ABOUT ME</b></p>
            <p>넌 머든 될 수 있지</p>
        </div>
        <div class="footer-title link">
            <p><b>LINK</b></p>
            <a><p>Github</p></a>
            <a><p>Naver Blog</p></a>
            <a><p>Youtube</p></a>
        </div>
        <div class="admin footer-title">
            <p><b>ADMIN</b></p>
            <div class="d-flex">
                <div><a><i class="fa-solid fa-lock"></i></a></div>
                <div><a><i class="fa-solid fa-pen"></i></a></div>
            </div>
        </div>
    </div>
    <div style="text-align: center;padding: 70px 0; color: rgb(155, 155, 155);">
        Designed by Tistory.
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>