{{> layout/header}}

<!-- 게시글 목록 시작 -->
<div class="container">
    <div class="row justify-content-center">
        <div class="card mb-5" style="max-width: 1000px; padding: 0;">
            <div class="row g-0">
                <a href="/detail" class="col-md-4" style="width: 250px;height: 250px;">
                    <img src="./images/observer.png" class="img-fluid rounded-start" alt="..." style="width: 100%;height: 100%;">
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/detail"><h3 class="card-title"><b>스프링부트 with JPA 블로그 18강 - 특강 무한 참조 방지하기</b></h3></a>
                        <div class="d-flex" style="margin-bottom: 15px;">
                            <div style="border-bottom: 1px solid black;">스프링부트 with JPA 블로그</div>
                            <div style="width: 2px;height: 2px; background-color: black; margin: 11px 10px; border-radius: 50%;"> </div>
                            <div>2020.7.28. 00:29</div>
                        </div>
                        <a href="/detail" class="content-preview">
                            <div style="display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; margin-bottom: 15px;">
                                (1) Entity로 받고 Json직렬화 하기 전에 DTO 생성후 복사하기
                                BeanUtils.copyProperties(A,B)
                                (2) 처음부터 DTO로 DB에서 받기
                                (3) @JsonIgnore
                                (4) @JsonIgnoreProperties({"board"})
                                (5) @JsonBackReference @JsonManagedReference
                            </div>
                        </a>
                        <a href="/detail" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5" style="max-width: 1000px; padding: 0;">
            <div class="row g-0">
                <a href="/detail" class="col-md-4" style="width: 250px;height: 250px;">
                    <img src="./images/observer.png" class="img-fluid rounded-start" alt="..." style="width: 100%;height: 100%;">
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/detail"><h3 class="card-title"><b>스프링부트 with JPA 블로그 18강 - 특강 무한 참조 방지하기</b></h3></a>
                        <div class="d-flex" style="margin-bottom: 15px;">
                            <div style="border-bottom: 1px solid black;">스프링부트 with JPA 블로그</div>
                            <div style="width: 2px;height: 2px; background-color: black; margin: 11px 10px; border-radius: 50%;"> </div>
                            <div>2020.7.28. 00:29</div>
                        </div>
                        <a href="/detail" class="content-preview">
                            <div style="display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; margin-bottom: 15px;">
                                (1) Entity로 받고 Json직렬화 하기 전에 DTO 생성후 복사하기
                                BeanUtils.copyProperties(A,B)
                                (2) 처음부터 DTO로 DB에서 받기
                                (3) @JsonIgnore
                                (4) @JsonIgnoreProperties({"board"})
                                (5) @JsonBackReference @JsonManagedReference
                            </div>
                        </a>
                        <a href="/detail" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5" style="max-width: 1000px; padding: 0;">
            <div class="row g-0">
                <a href="/detail" class="col-md-4" style="width: 250px;height: 250px;">
                    <img src="./images/observer.png" class="img-fluid rounded-start" alt="..." style="width: 100%;height: 100%;">
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/detail"><h3 class="card-title"><b>스프링부트 with JPA 블로그 18강 - 특강 무한 참조 방지하기</b></h3></a>
                        <div class="d-flex" style="margin-bottom: 15px;">
                            <div style="border-bottom: 1px solid black;">스프링부트 with JPA 블로그</div>
                            <div style="width: 2px;height: 2px; background-color: black; margin: 11px 10px; border-radius: 50%;"> </div>
                            <div>2020.7.28. 00:29</div>
                        </div>
                        <a href="/detail" class="content-preview">
                            <div style="display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; margin-bottom: 15px;">
                                (1) Entity로 받고 Json직렬화 하기 전에 DTO 생성후 복사하기
                                BeanUtils.copyProperties(A,B)
                                (2) 처음부터 DTO로 DB에서 받기
                                (3) @JsonIgnore
                                (4) @JsonIgnoreProperties({"board"})
                                (5) @JsonBackReference @JsonManagedReference
                            </div>
                        </a>
                        <a href="/detail" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5" style="max-width: 1000px; padding: 0;">
            <div class="row g-0">
                <a href="/detail" class="col-md-4" style="width: 250px;height: 250px;">
                    <img src="./images/observer.png" class="img-fluid rounded-start" alt="..." style="width: 100%;height: 100%;">
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/detail"><h3 class="card-title"><b>스프링부트 with JPA 블로그 18강 - 특강 무한 참조 방지하기</b></h3></a>
                        <div class="d-flex" style="margin-bottom: 15px;">
                            <div style="border-bottom: 1px solid black;">스프링부트 with JPA 블로그</div>
                            <div style="width: 2px;height: 2px; background-color: black; margin: 11px 10px; border-radius: 50%;"> </div>
                            <div>2020.7.28. 00:29</div>
                        </div>
                        <a href="/detail" class="content-preview">
                            <div style="display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; margin-bottom: 15px;">
                                (1) Entity로 받고 Json직렬화 하기 전에 DTO 생성후 복사하기
                                BeanUtils.copyProperties(A,B)
                                (2) 처음부터 DTO로 DB에서 받기
                                (3) @JsonIgnore
                                (4) @JsonIgnoreProperties({"board"})
                                (5) @JsonBackReference @JsonManagedReference
                            </div>
                        </a>
                        <a href="/detail" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5" style="max-width: 1000px; padding: 0;">
            <div class="row g-0">
                <a href="/detail" class="col-md-4" style="width: 250px;height: 250px;">
                    <img src="./images/observer.png" class="img-fluid rounded-start" alt="..." style="width: 100%;height: 100%;">
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/detail"><h3 class="card-title"><b>스프링부트 with JPA 블로그 18강 - 특강 무한 참조 방지하기</b></h3></a>
                        <div class="d-flex" style="margin-bottom: 15px;">
                            <div style="border-bottom: 1px solid black;">스프링부트 with JPA 블로그</div>
                            <div style="width: 2px;height: 2px; background-color: black; margin: 11px 10px; border-radius: 50%;"> </div>
                            <div>2020.7.28. 00:29</div>
                        </div>
                        <a href="/detail" class="content-preview">
                            <div style="display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; margin-bottom: 15px;">
                                (1) Entity로 받고 Json직렬화 하기 전에 DTO 생성후 복사하기
                                BeanUtils.copyProperties(A,B)
                                (2) 처음부터 DTO로 DB에서 받기
                                (3) @JsonIgnore
                                (4) @JsonIgnoreProperties({"board"})
                                (5) @JsonBackReference @JsonManagedReference
                            </div>
                        </a>
                        <a href="/detail" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5" style="max-width: 1000px; padding: 0;">
            <div class="row g-0">
                <a href="/detail" class="col-md-4" style="width: 250px;height: 250px;">
                    <img src="./images/observer.png" class="img-fluid rounded-start" alt="..." style="width: 100%;height: 100%;">
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/detail"><h3 class="card-title"><b>스프링부트 with JPA 블로그 18강 - 특강 무한 참조 방지하기</b></h3></a>
                        <div class="d-flex" style="margin-bottom: 15px;">
                            <div style="border-bottom: 1px solid black;">스프링부트 with JPA 블로그</div>
                            <div style="width: 2px;height: 2px; background-color: black; margin: 11px 10px; border-radius: 50%;"> </div>
                            <div>2020.7.28. 00:29</div>
                        </div>
                        <a href="/detail" class="content-preview">
                            <div style="display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; margin-bottom: 15px;">
                                (1) Entity로 받고 Json직렬화 하기 전에 DTO 생성후 복사하기
                                BeanUtils.copyProperties(A,B)
                                (2) 처음부터 DTO로 DB에서 받기
                                (3) @JsonIgnore
                                (4) @JsonIgnoreProperties({"board"})
                                (5) @JsonBackReference @JsonManagedReference
                            </div>
                        </a>
                        <a href="/detail" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5" style="max-width: 1000px; padding: 0;">
            <div class="row g-0">
                <a href="/detail" class="col-md-4" style="width: 250px;height: 250px;">
                    <img src="./images/observer.png" class="img-fluid rounded-start" alt="..." style="width: 100%;height: 100%;">
                </a>
                <div class="col-md-8">
                    <div class="card-body">
                        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="/detail"><h3 class="card-title"><b>스프링부트 with JPA 블로그 18강 - 특강 무한 참조 방지하기</b></h3></a>
                        <div class="d-flex" style="margin-bottom: 15px;">
                            <div style="border-bottom: 1px solid black;">스프링부트 with JPA 블로그</div>
                            <div style="width: 2px;height: 2px; background-color: black; margin: 11px 10px; border-radius: 50%;"> </div>
                            <div>2020.7.28. 00:29</div>
                        </div>
                        <a href="/detail" class="content-preview">
                            <div style="display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis; margin-bottom: 15px;">
                                (1) Entity로 받고 Json직렬화 하기 전에 DTO 생성후 복사하기
                                BeanUtils.copyProperties(A,B)
                                (2) 처음부터 DTO로 DB에서 받기
                                (3) @JsonIgnore
                                (4) @JsonIgnoreProperties({"board"})
                                (5) @JsonBackReference @JsonManagedReference
                            </div>
                        </a>
                        <a href="/detail" class="btn btn-outline-success">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 게시글 목록 끝 -->
<!-- 페이지네이션 시작 -->
<nav aria-label="Page navigation example" style="margin-bottom: 50px;">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
            </a>
        </li>
    </ul>
</nav>
<!-- 페이지네이션 끝 -->

<!-- 인기 포스트 시작 -->
<div class="container">
    <h1>인기포스트</h1>
    <div class="row justify-content-center">
        <div class="famous-post d-flex" style="margin-bottom: 30px;">
            <a href="/detail" style="width: calc((100% - 45px) / 4); height: 150px; background-color: black; position: relative; border-radius: 10px; border: 1px solid #e6e6e6; overflow: hidden;">
                <div>
                    <img src="./images/famous-image.png" style="width: 100%; height: 100%;border-radius: 10px;opacity: 0.5; ">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 180px; color: white;">
                        <div><b>스프링 부트 with JPA 블로그 6강 - yaml 설정</b></div>
                        <div>GetInThere</div>
                    </div>
                </div>
            </a>
            <a href="/detail" style="width: calc((100% - 45px) / 4); height: 150px; background-color: black; position: relative; border-radius: 10px; border: 1px solid #e6e6e6; overflow: hidden;">
                <div>
                    <img src="./images/famous-image.png" style="width: 100%; height: 100%;border-radius: 10px;opacity: 0.5; ">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 180px; color: white;">
                        <div><b>스프링 부트 with JPA 블로그 6강 - yaml 설정</b></div>
                        <div>GetInThere</div>
                    </div>
                </div>
            </a>
            <a href="/detail" style="width: calc((100% - 45px) / 4); height: 150px; background-color: black; position: relative; border-radius: 10px; border: 1px solid #e6e6e6; overflow: hidden;">
                <div>
                    <img src="./images/famous-image.png" style="width: 100%; height: 100%;border-radius: 10px;opacity: 0.5; ">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 180px; color: white;">
                        <div><b>스프링 부트 with JPA 블로그 6강 - yaml 설정</b></div>
                        <div>GetInThere</div>
                    </div>
                </div>
            </a>
            <a href="/detail" style="width: calc((100% - 45px) / 4); height: 150px; background-color: black; position: relative; border-radius: 10px; border: 1px solid #e6e6e6; overflow: hidden;">
                <div>
                    <img src="./images/famous-image.png" style="width: 100%; height: 100%;border-radius: 10px;opacity: 0.5; ">
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 180px; color: white;">
                        <div><b>스프링 부트 with JPA 블로그 6강 - yaml 설정</b></div>
                        <div>GetInThere</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- 인기 포스트 끝 -->

{{> layout/footer}}